WCFClient/Connected Services/WcfServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServer.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServer.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataResponse" nillable="true" type="tns:DataResponse" />
</xs:schema>