WCFClient/Connected Services/WcfServiceReference/TestWCFServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WCFServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://localhost:5001/?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5001/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5001/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5001/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServer.WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IDataService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_Ping2_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping2" />
  </wsdl:message>
  <wsdl:message name="IDataService_Ping2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ping2Response" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/Ping" message="tns:IDataService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/PingResponse" message="tns:IDataService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping2">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/Ping2" message="tns:IDataService_Ping2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/Ping2Response" message="tns:IDataService_Ping2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataService" type="tns:IDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IDataService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping2">
      <soap:operation soapAction="http://tempuri.org/IDataService/Ping2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFServer">
    <wsdl:port name="MetadataExchangeHttpBinding_IDataService" binding="i0:MetadataExchangeHttpBinding_IDataService">
      <soap12:address location="http://localhost:5001/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:5001/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IDataService" binding="tns:BasicHttpBinding_IDataService">
      <soap:address location="http://localhost:5001/data" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>